* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --text-color-heading: #FFFFFF;
    --text-color-desc: rgba(255, 255, 255, 0.8);
    --text-color-btn: #FB8F2C;
}

body {
    font-size: 1.6rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    color: var(--text-color-desc);
    background: #111114;
}

/* Common */

a {
    text-decoration: none;
    color: var(--text-color-heading);
}

h1,h2,h3,h4,h5,h6,.heading {
    font-weight: 500;
    font-family: 'Libre Bodoni', serif;
    color: var(--text-color-heading);
}



.btn {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #FB8F2C;
}

.btn::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -6px;
    height: 1px;
    background: #FB8F2C;
}

.desc {
    font-size: 1.6rem;
    line-height: 1.62;
}

.heading-lv1 {
    font-size: 6.4rem;
    line-height: 1.16;
}

.heading-lv2 {
    font-size: 2.4rem;
    line-height: 1.42;
}

.main-container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}

/* ====================== Header ====================== */

.header {
    padding-top: 20px;
}

.nav__list,
.header__right,
.header__inner {
    display: flex;
    align-items: center;
}

.header__inner {
    justify-content: space-between;
}

.nav__list {
    gap: 24px;
}

.nav__link {
    display: inline-block;
    color: var(--text-color-desc);
}

.nav__link:hover {
    text-shadow: 1px 0 0 ;
}


.active {
    color: #FB8F2C;
}

.header__right {
    gap: 28px;
}

.header__right__btn::after {
    content: '';
    display: block;
    height: 1px;
    margin-top: 5px;
    background: #fff;
}

/* ====================== Hero ====================== */

.hero {
    padding-top: 26px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

/* Hero content */

.hero-content {
    width: 670px;
    max-width: 100%;
}

.hero-content__heading {
    margin: 10px 0 20px;
}

.hero-content__desc {
    width: 532px;
    max-width: 100%;
    margin-bottom: 40px;
}

/* Hero media */

.hero-media {
    width: 470px;
    max-width: 100%;
    margin-left: 30px;
}

.hero-media__left {
    position: relative;
}

.hero-media__img {
    width: 370px;
    max-width: 100%;
}

.hero-media__price {
    position: absolute;
    display: inline-block;
    bottom: 66px;
    left: -30px;
    padding: 12px 16px 8px 16px;
    font-family: 'Libre Bodoni', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: #FFFFFF;
    background: #FB8F2C;
}

.hero-media__img-thumb-1 {
    position: absolute;
    top: 66px;
    right: 20px;
    width: 80px;
    height: 83px;
}

.hero-media__img-thumb-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 80px;
    height: 79px;
}

.hero-media__img-thumb-3 {
    position: absolute;
    right: 20px;
    bottom: 69px;
    width: 79px;
    height: 79px;
}

/* ====================== Stats ====================== */

.stats {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 194px;
    margin: 96px 0 139px;
}

.stats::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(/assets/img/stats-bg.png);
    background-size: cover;
}

.stats-list {
    display: flex;
    gap: 117px;
}

.stats-item {
    display: flex;
    align-items: center;
}

.stats-item__number {
    font-size: 6.4rem;
    line-height: 1.16;
    color: #fff;
}

.stats-item__desc {
    width: 148px;
    margin-left: 18px;
}

/* ====================== Popular ====================== */

.popular {
    position: relative;
    padding: 48px 0;
}

.popular__heading {
    text-align: center;
}

.popular__desc {
    width: 601px;
    margin: 20px auto 60px;
    text-align: center;
}

.popular-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.popular-item__img-thumb {
    width: 100%;
    object-fit: cover;
}

.popular-item__body {
    padding-top: 16px;
}

.popular-item__row-top,
.popular-item__row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-item__price {
    font-family: 'Libre Bodoni', sans-serif;
    font-size: 2.4rem;
    line-height: 1.62;
    text-transform: capitalize;
    color: #fff;
}

.popular-item__desc {
    margin: 6px 0 16px;
}

.popular-item__btn {
    color: #fff;
}

.popular__btn {
    display: flex;
    margin-top: 36px;
    justify-content: center;
}

.popular__icon {
    margin-left: 13px;
}

.popular__decor {
    position: absolute;
    top: 76px;
    left: 0;
}

/* ====================== Information ====================== */

.information {
    padding: 54px 0;
    margin: 48px 0 26px;
}

.information-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 360px;
    text-align: center;
}

.information-left__bg {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    object-fit: cover;
}

.information-left__contact {
    width: 227px;
    margin-top: 10px;
}

.information-left__contact-address {
    color: #fff
}

.information-right {
    position: relative;
    width: 50%;
    height: 360px;
    padding: 73px 145px;
}

.information-right__bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #FB8F2C;
}

.information-right__heading {
    color: #111114;
    text-align: center;
}


.information-right__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    color: #111114
}


